* {
    font-family: 'Anton', sans-serif;
}

body {
  background-image: url("/public/images/loginBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
}