.background {
  background-image: url("/public/images/indexBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
}

button {
  width: 8rem;
}