.col-6 {
    background-image: url("/public/images/registerBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

h3 {
    font-weight: 400;
}
